---
import en from "../../locales/en.json";
import es from "../../locales/es.json";
import "../../styles/global.css";

const { lang } = Astro.params;

type Lang = "en" | "es";

const locales: Record<Lang, typeof en> = { en, es };

const currentLang: Lang = lang === "es" || lang === "en" ? lang : "en";
const t = locales[currentLang];
---

<section class="text-xl text-left px-20 max-w-[110ch] text-pretty mx-auto my-24">
    <img src="/logo.png" alt="Logo de los Sland" class="w-16 mb-10 m-auto" />
    <h1
        class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
    >
        {t.tituloServicio}
    </h1>
    <p class="text-center" >
        {t.servicioParrafo1}
    </p>
    <br>
    <p class="text-center" >
        {t.servicioParrafo2}
    </p>
    <br>
    <p class="text-center" >
        {t.servicioParrafo3}
    </p>
</section>
